<div class="container">
  <div class="row login__main">
    <div class="col-lg-6 col-sm-12">
      <h3 class="login__title">ACCESS TO YOUR ACCOUNT</h3>

      <form action="" class="login__input">
        <input
          type="email"
          id="em"
          placeholder="Enter Your Email"
          required
          ng-model="email"
        />
        <input
          type="password"
          required
          placeholder="Enter Your Password"
          ng-model="password"
        />
        <button class="login__btn" type="submit" ng-click="login()">
          Login
        </button>
      </form>

      <a href="#login-forget" class="forget__login"
        >Have you forgotten your password?</a
      >
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 col-sm-12">
      <h3 class="login__title">YOU NEED A ACCOUNT ?</h3>
      <div class="login__input">
        <a class="login__btn register__btn--log" href="#register">Register</a>
      </div>
    </div>
  </div>
</div>
